* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
}

/* Reset CSS */
h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

a,
button {
  cursor: pointer;
}

li,
ul,
ol {
  list-style: none;
  padding-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}

/* >= 768px (Desktop) */
@media screen and (min-width: 768px) {
  /* Reset CSS */
  p {
    font-size: 22px;
    line-height: 1.4545454545;
  }
}

/* Custom Grid System - container width */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
