/* >= 768px (Desktop) */
@media screen and (min-width: 768px) {
  /* Landing section */
  .landing-content {
    height: auto;
    padding: 120px 0;
  }

  .landing-title {
    font-size: 70px;
    line-height: 1.0285714286;
    margin-bottom: 32px;
  }

  .landing-desc {
    margin-bottom: 32px;
  }

  p {
    font-size: 22px;
    line-height: 1.4545454545;
  }

  .fill-btn {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.5555555556;
  }

  .landing .btn-group .fill-btn:first-child {
    margin-right: 16px;
  }

  /* Service section */
  .service-title {
    font-size: 26px;
    line-height: 1.3076923077;
  }

  /* Program section */
  .program {
    text-align: center;
    padding-bottom: 96px;
  }

  .category {
    font-size: 22px;
    margin-bottom: 16px;
  }

  .program-title {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 32px;
  }

  .program-desc {
    margin-bottom: 72px;
  }

  .program-img {
    margin-right: 30px;
    transition: all 300ms;
  }

  .program-img:last-child {
    margin-right: 0;
  }

  .program-img img {
    margin-bottom: 24px;
  }

  .program-img:hover {
    background-color: #3141c5;
    color: #fff;
    box-shadow: 0 13px 18px 0 rgba(0, 0, 0, 0.15), 0 11px 55px 0 rgba(0, 0, 0, 0.07);
  }

  .programs {
    padding: 0;
  }

  .programs-title {
    font-size: 20px;
    line-height: 1.2;
  }
}
