/* >= 768px (Desktop) */
@media screen and (min-width: 768px) {
  /* Landing section */
  .landing-content {
    height: auto;
    padding: 120px 0;
  }

  .landing-title {
    font-size: 70px;
    line-height: 1.0285714286;
    margin-bottom: 32px;
  }

  .landing-desc {
    margin-bottom: 32px;
  }

  p {
    font-size: 22px;
    line-height: 1.4545454545;
  }

  .fill-btn {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.5555555556;
  }

  .landing .btn-group .fill-btn:first-child {
    margin-right: 16px;
  }

  /* Service section */
  .service {
    background-color: #f4f5f7;
  }

  .service-content {
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 80px 0;
  }

  .service-content .left {
    width: 370px;
    margin-right: 110px;
  }

  .service-content .right {
    width: 450px;
  }

  .service-title {
    font-size: 26px;
    line-height: 1.3076923077;
  }
}
